<%= form_for @item, url: @item.id ? admin_item_path(@item) : "/admin/items", :html => { :multipart => true } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :display_order %><br>
    <%= @item.display_order %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 8 %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select( :category_id, Hash[ Category.all.map do |c| ["#{c.parent_category.name} - #{c.name}", c.id] end] )%>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <% if @item.photo.exists? %>
      <p>
        <%= image_tag @item.photo.url %>
      </p>
    <% end %>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
