<table>

  <tbody>
    <% @parent_categories.each do |parent_category| %>
      <% parent_category.categories.order(:display_order).each do |category| %>
        <tr>
          <td colspan="7"><h2><%= category.name %></h2></td>
        </tr>
          <tr>
            <th>Display order</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        <% category.items.order(:display_order).each do |item| %>
          <tr>
            <td><%= item.display_order %></td>
            <td><%= item.name %></td>
            <td><%= truncate item.description, length: 30 %></td>
            <td><%= link_to 'Show', admin_item_path(item) %></td>
            <td><%= link_to 'Edit', edit_admin_item_path(item) %></td>
            <td><%= link_to 'Delete', admin_item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Move Up', move_up_admin_item_path(item) %></td>
            <td><%= link_to 'Move Down', move_down_admin_item_path(item) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_admin_item_path %><br>
<%= link_to 'Admin Home Page', admin_root_path %><br>
<%= link_to 'Return to Site', root_path %><br>

