<div class="col-md-4 col-md-offset-<%= offset %> column-<%= side %>">
    <div><%= image_tag i.photo.url %></div>
    <div class="item-name"><%= i.name %></div>
    <p class="item-description"><%= raw(i.description) %></p>
</div>
