<%= render partial: 'layouts/header', locals: {page: 'home'} %>

      <div class="row home-row">
          <div class="col-xs-4 left">
              <%= link_to( @parent_categories[0].name, "/#{@parent_categories[0].slug}", {class: 'btn btn-primary'}) %>
              <%= image_tag @parent_categories[0].photo.url(:small), alt: @parent_categories[0].name %>
          </div>
          <div class="col-xs-4 center">
              <%= link_to( @parent_categories[1].name, "/#{@parent_categories[1].slug}", {class: 'btn btn-primary'}) %>
              <%= image_tag @parent_categories[1].photo.url(:medium), alt: @parent_categories[1].name %>
              <%= link_to( "Contact Us", new_contact_path, {class: 'btn btn-primary'}) %>
          </div>
          <div class="col-xs-4 right">
              <%= link_to( @parent_categories[2].name, "/#{@parent_categories[2].slug}", {class: 'btn btn-primary'}) %>
              <%= image_tag @parent_categories[2].photo.url(:small), alt: @parent_categories[2].name %>
          </div>
      </div>

<%= render partial: 'layouts/footer', locals: {page: 'home'} %>
