<%= render partial: 'layouts/header', locals: {page: 'parent_category', page_name: @parent_category.name} %>
<%= render partial: 'layouts/links', locals: {page: 'parent_category', id: @parent_category.slug} %>

      <% @parent_category.categories.each do |c| %>
        <% if c.items.count>0 %>
            <div class="row">
                <div class="col-xs-12" >
                    <h2 class="page-name"><%= c.name %></h2>
                </div>
            </div>
            <% c.items.each_slice(2) do |slice| %>
            <div class="row">
              <% slice.each do |item| %>
                <%= render partial: 'home/item', locals: {i: item, offset: 0} %>
              <% end %>
            </div>
            <% end %>
        <% end %>
      <% end %>
<%= render partial: 'layouts/footer', locals: {page: 'parent_category', page_name: @parent_category.name} %>
