<%= render partial: 'layouts/header', locals: {page: 'contact'} %>

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-name">Contact</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
    <%=
      # link_to button_tag('Email Us', class: "btn btn-primary g-recaptcha", data: { sitekey: Rails.application.secrets.recaptcha_public_key, callback: "getEmailAddress" }), new_contact_path
    %>
    <%= link_to button_tag('Email Us', class: "btn btn-primary mail-link"), new_contact_path %>
    <%= image_tag 'squares.svg', class: 'loading', style: 'padding: 30px 85px 30px 85px; display: none' %>
    <%= link_to button_tag("default@example.com", class: "btn btn-primary mail-to"), "mailto:default@example.com", style: "display: none" %>
  </div>
  <div class="col-xs-5">
    <%= @home.display_content %>
  </div>
</div>

<script>
  var getEmailAddress = function(e){
    e.preventDefault();
    $('.mail-link').hide();
    $('.loading').show();
    setTimeout(
      function(){
        $.get('<%= mailto_contacts_path format: :js %>')
          .fail(function(){
            $('.mail-link').show();
            $('.loading').hide();
            window.location.href = '<%= new_contact_path %>';
          });
      }, 500
    );
  };

  $('.mail-link').click(getEmailAddress);

</script>

<%= render partial: 'layouts/footer', locals: {page: 'contact'} %>
