<h1>Listing categories</h1>

<table>
  <tbody>
  <% @parent_categories.each do |parent_category| %>
      <tr>
        <td colspan="7"><h2><%= parent_category.name %></h2></td>
      </tr>
      <tr>
        <th>Display order</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% parent_category.categories.order(:display_order).each do |category| %>
          <tr>
            <td><%= category.display_order %></td>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= link_to 'Show', admin_category_path(category) %></td>
            <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
            <td><%=
                  delete_confirm = 'Are you sure?'
                  if category.items.count>0
                    delete_confirm = delete_confirm + "\nDeleting this category will also delete the following dependent items:\n"
                    delete_confirm = delete_confirm + category.items.map { |i| i.name }.join("\n")
                  end
                  link_to('Delete', admin_category_path(category), {method: :delete, data: { confirm: delete_confirm  }})
            %></td>
            <td><%= link_to 'Move Up', move_up_admin_category_path(category) %></td>
            <td><%= link_to 'Move Down', move_down_admin_category_path(category) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path %><br>
<%= link_to 'Admin Home Page', admin_root_path %><br>
<%= link_to 'Return to Site', root_path %><br>

