<p id="notice"><%= notice %></p>

<p>
  <strong>Display order:</strong>
  <%= @category.display_order %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Parent category:</strong>
  <%= @category.parent_category_id %>
</p>

<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %>
