<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8" >
  <meta name="DESCRIPTION" content="Indoor and outdoor furniture, planters, decks, platforms and structures">
  <meta name="KEYWORDS" content="furniture, planters, decks, platforms, structures, recovered materials, recycled">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="Shortcut Icon" href="./favicon.ico">
  <title>Outside Up - Fresh Interactive Design</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%=
    # javascript_include_tag 'https://www.google.com/recaptcha/api.js' 
  %>
  <%= csrf_meta_tags %>
</head>

<body>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>

</body>
</html>
